@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    /* background: #05050b;
    background: -webkit-linear-gradient(#110f24 0%, #05050b 100%);
    background: -moz-linear-gradient(#110f24 0%, #05050b 100%);
    background: -ms-linear-gradient(#110f24 0%, #05050b 100%);
    background: -o-linear-gradient(#110f24 0%, #05050b 100%);
    background: linear-gradient(#110f24 0%, #05050b 0%); */
    /* background: linear-gradient(0deg, rgba(2, 48, 71, 1) 25%, rgba(70, 113, 194, 1) 100%); */
    background: linear-gradient(0deg, rgba(2, 48, 71, 1) 32%, rgb(91 124 187) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 90px 20px;
}

.header-content-container {
    display: flex;
    gap: 70px 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-img {
    object-fit: cover;
    max-height: 450px;
    max-width: 500px;
}

.header-title {
    font-size: 45px;
    line-height: 55px;
    max-width: 700px;
    word-spacing: 3px;
}

.header-p {
   font-size: 25px;
   padding: 15px 0; 
   margin-top: 10px;
   max-width: 600px;
   line-height: 30px;
   word-spacing: 1.5px;
   font-weight: 400;
}

.header-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-button {
    border: none;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgb(2, 48, 71);
}
  
.navbar-container {
    /* background: #05050b;
    background: -webkit-linear-gradient(#110f24 0%, #05050b 100%);
    background: -moz-linear-gradient(#110f24 0%, #05050b 100%);
    background: -ms-linear-gradient(#110f24 0%, #05050b 100%);
    background: -o-linear-gradient(#110f24 0%, #05050b 100%);
    background: linear-gradient(#110f24 0%, #05050b 100%); */
    /* background: linear-gradient(0deg, rgba(70, 113, 194, 1) 25%,  rgba(2, 48, 71, 1) 100%); */
    /* background: linear-gradient(0deg, rgb(91 124 187)  32%, rgba(2, 48, 71, 1) 100%); */
    background-color: rgb(91 124 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}  

.navbar-center-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar-logo {
    object-fit: contain;
    max-width: 70px;
    max-height: 70px;
}

.navbar-p {
    font-size: 18px;
}

.logo-p-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-p{
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.header-bottom-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 0 20px;
}

.header-img-p-container {
    display: flex;
    gap: 40px 90px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.header-bottom-img {
    object-fit: cover;
    height: 340px;
    max-width: 530px;
    border-radius: 10px;
}

.bottom-title {
  font-size: 30px;
  line-height: 35px;
  color: rgba(2, 48, 71, 1);
}

.header-bottom-p {
    max-width: 530px;
    /* color: rgb(87 107 117);*/
    color: rgba(2, 48, 71, 0.87); 
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.integrations-container {
  margin-top: 80px;
  padding: 40px 20px;
  /* background-color: rgb(238, 242, 252); */
  background-color: rgb(244, 244, 244); 
  /* background-color: #f9f9f9;  */
}



.integrations-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 335px);
    gap: 50px;
    justify-content: center;
    padding: 50px;
}

.integrations-wrapper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
}

.integration-img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.integrations-text-container {
    padding: 20px 15px
}

.integrations-title {
  color: rgb(2, 48, 71);
  font-size: 24px;
  font-weight: 600;
}