@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato", Helvetica, sans-serif;
    overflow-x: hidden;
}

ol.blank,
ul.blank {
  list-style: none;
}

li {
    list-style: none;
    
}

a {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

.main-container{
    position: relative;
}  

.overlay-div{
  
    filter: blur(0px);
    transition: all 2s ease-in-out;     
}  
  
.blur {
    filter: blur(5px);
    height: 100vh;
    transition: all 2s ease-in-out;
}
  
.sidebar-container {
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    gap: 15px;
    z-index: 10;
}

.sidebar-closer {
    cursor: pointer;
}


.sidebar-content {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 0 40px;
}

.no-scroll {
    overflow: hidden;
    overflow-y: hidden;
}

.sidebar-p {
    color: white;
    font-size: 20px;
    margin-top: 25px;
    font-weight: 600;
}

.sidebar-closer {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
}

.display-sidebar {
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.header-container {
    background: linear-gradient(0deg, rgba(2, 48, 71, 1) 32%, rgb(91 124 187) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 20px 90px 20px;
}

.header-content-container {
    display: flex;
    gap: 70px 75px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-img {
    object-fit: cover;
    max-height: 450px;
    max-width: 500px;
}

.header-title {
    font-size: 45px;
    line-height: 50px;
    max-width: 600px;
    color: white;
    word-spacing: 5px;
}

.header-p {
   font-size: 24px;
   padding: 15px 0; 
   margin-top: 10px;
   max-width: 580px;
   line-height: 30px;
   word-spacing: 3px;
   color: white;
   opacity: 0.87;
   font-weight: 400;
}

.header-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-button {
    border: none;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 16px;
    background: rgb(98,98,175);
    background: linear-gradient(180deg, rgba(98,98,175,1) 16%, rgba(87,91,222,1) 62%);
    color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    max-width: 120px;
}
  
.navbar-container {
    background-color: rgb(91 124 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 30px;
}  

.sidebar-svg-container {
    display: none;
}

.navbar-center-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.navbar-logo {
    object-fit: contain;
    max-width: 70px;
    max-height: 70px;
}

.navbar-p {
    font-size: 19px;
    font-weight: 600;
    color: white;
    word-spacing: 3px;
}

.logo-p-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo-p{
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.header-bottom-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 0 20px;
}

.header-img-p-container {
    display: flex;
    gap: 40px 90px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.header-bottom-img {
    object-fit: cover;
    height: 340px;
    max-width: 530px;
    border-radius: 10px;
}

.bottom-title {
  font-size: 30px;
  line-height: 35px;
  color: rgba(2, 48, 71, 1);
}

.header-bottom-p {
    max-width: 530px;
    /* color: rgb(87 107 117);*/
    color: black;
    opacity: 0.78; 
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.integrations-container {
  margin-top: 80px;
  padding: 40px 20px;
  /* background-color: rgb(238, 242, 252); */
  background-color: rgb(244, 244, 244); 
  /* background-color: #f9f9f9;  */
}

.integrations-main-title {
    font-weight: 600;
    font-size: 37px;
    color: rgb(2, 48, 71);
    margin: 15px 0;
    text-align: center;
}

.integrations-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 345px);
    gap: 70px 60px;
    justify-content: center;
    padding: 50px;
}

.integrations-wrapper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    position: relative;
}

.integration-img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.integrations-text-container {
    padding: 20px 13px;
    height: 240px;
}

.integrations-title {
  color: rgb(2, 48, 71);
  font-size: 24px;
  font-weight: 600;
}

.integrations-p {
    color: rgba(2, 48, 71, 0.87); 
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 1.5px;

}

.integrations-button-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 22px 15px;
    align-items: center;
    
}

.integrations-logo {
    object-fit: contain;
    height: 70px;
}

.integrations-button {
    padding: 12px 22px;
    border-radius: 8px;
    background-color: rgba(2, 48, 71,0.86);
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.sss-container {
    background-image: url("imgs/sssphoto.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.questions-title {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.sss-p {
    font-size: 22.9px;
    color: white;
    font-weight: 600;
    line-height: 30px;
    word-spacing: 1.5px;
}

.sss-question-answer-container {
    margin-top: 45px;
    max-width: 550px;
}

.answer-p {
    display: none;
    transition: all 0.3s ease;
    color: white;
    max-width: 550px;
    font-size: 19px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 15px;
    word-spacing: 1.5px;
}

.answer-p.active {
    display: block;
}

.question-svg-container {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.sss-svg {
    height: 30px;
    width: auto;
    object-fit: contain;
}


.sss-icon {
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.icon-up {
    transform: rotate(180deg);
    transition: all 0.4s ease;
}

.contact-us-container {
  color: white;
  background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 30px 30px 15px 30px;
    border-radius: 15px;
    /* background-color: #5d646d; */
    background-color: rgba(31, 29, 43,0.7);
    width: 36%;
    height: 100%;
    max-width: 550px;
    min-width: 540px;
}

.contact-title {
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-top: 8px;
}

.inputs-container {
    padding: 10px 0;
}

.input-group-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-input {
    width: 50%;
    background-color: #393c49;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 19px;
    padding: 10px;
}

.bottom-input {
    margin-top: 20px;
    width: 100%;
    height: 190px;
    background-color: #393c49;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 19px;
    padding: 10px;
    text-align: start;
    vertical-align: top;
    resize: none;
} 

.bottom-input::placeholder {
    font-size: 19px;
    opacity: 1;
}

.contat-button-container {
  margin-top: 20px;
}

.contact-button {
    width: 100%;
    padding: 10px 50px;
    border-radius: 7px;
    background-color: transparent;
    color: #6f706d;
    border: 3px solid #393c49;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
}

.contact-button:hover {
    color: white;
}


.footer-container {
    display: flex;
    padding: 50px 75px;
    justify-content: center;
    gap: 70px 130px;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    object-fit: contain;
    max-height: 260px;
}

.footer-title {
    color: rgb(2, 48, 71);
    font-size: 27px;
    font-weight: 600;
}

.footer-svg-p-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.footer-p {
    font-size: 19px;
    font-weight: 600;
    color: black;
    max-width: 250px;
}

.footer-link{
    height: 30px;
    width: 30px;
}

.footer-social-container {
    margin-bottom: 67px;
}

.footer-list {
    margin-top: 20px;
}

@media(max-width:1050px) {
  .navbar-center-content {
    display: none;
  }


  .sidebar-svg-container {
    display: block;
    cursor: pointer;
  }
}

@media(max-width:680px) {
   .navbar-p {
    display: none;
   }
 
  
   .header-container {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
   }

   .header-bottom-content {
    margin-top: 50px;
    gap: 100px;
   }

   .contact-us-container {
    width: auto;
    min-width: auto;
   }

   .header-title {
    font-size: 35px;
    line-height: 45px;
   }
}

@media(max-width:550px) {
  .header-bottom-img {
    max-width: 100%;
    height: 300px;
  }

  .sidebar-p {
    font-size: 17px;
  }

  .sidebar-content {
    padding: 0 30px;
  }

  .navbar-container {
    padding: 20px;
  }

  .contact-title {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .contact-input {
    width: 100%;
  }

  .input-group-container {
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 15px;
  }

  .bottom-input {
    margin-top: 15px;
  }

  .contat-button-container {
    margin-top: 15px;
  }

  .footer-social-container {
    margin-bottom: 0;
  }
 
  .header-img {
    max-width: 400px;
    max-height: 400px;
  }
}

@media(max-width:470px) {

    .logo-p-container {
        gap: 10px;
    }

    .logo-p {
        font-size: 25px;
    }

    .navbar-logo {
        max-width: 60px;
        max-height: 60px;
    }
 
    .header-img {
        max-width: 350px;
        max-height: 350px;
    }

    .header-title {
        font-size: 30px;
        line-height: 35px;
    }

    .header-p {
        font-size: 20px;
        line-height: 25px;
    }
 


}